:host {
    display: block;
    color: #374151;
}

/* Genel Navbar Stilleri */
.navbar {
    background-color: #F9FAFB;
    padding: 20px 5rem;
    /* Açık gri, mevcut tasarımla uyumlu */
    color: #374151;
    /* Koyu gri renk */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Hafif gölge ekleyerek modern bir hava katıyoruz */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: #10B981;
    font-family: "Michroma", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-weight: 600;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #374151;
    /* Koyu gri metin */
    font-size: 14px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #10B981;
    /* Hoverda yeşil renk */
}

/* Responsive Tasarım */
@media (max-width: 768px) {

    .navbar {
        padding: 20px 2rem !important;
    }

    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #F9FAFB;
        /* Gri arka plan */
        padding: 10px 0;
    }

    .navbar-links ul {
        display: block;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    .navbar-links.active {
        display: block;
    }
}