<header class="navbar">
    <div class="navbar-container">
        <a routerLink="/" class="navbar-logo">M.Gnn</a>
        <nav class="navbar-links">
            <ul>
                <li><a routerLink="/">{{'Home' | translate}}</a></li>
                <li><a routerLink="project/list">{{'Projects' | translate}}</a></li>
                <li><a routerLink="about">{{'About' | translate}}</a></li>
                <li><a href="assets/documents/Mustafa Gönen CV.pdf" target="_blank">{{'CV' | translate}}</a></li>
                <li><a routerLink="contact">{{'Contact' | translate}}</a></li>
            </ul>
        </nav>
    </div>
</header>