<header class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo">M.G</a>
        <nav class="navbar-links">
            <ul>
                <li><a href="#landing">{{'Home' | translate}}</a></li>
                <li><a href="#features">{{'Projects' | translate}}</a></li>
                <li><a href="#about">{{'About' | translate}}</a></li>
                <li><a href="#contact">{{'CV' | translate}}</a></li>
                <li><a href="#contact">{{'Contact' | translate}}</a></li>
            </ul>
        </nav>
    </div>
</header>