<section class="landing">
    <div class="background-shapes"></div>

    <div class="intro">
        <div class="m-b-0 m-t-0 d-flex">
            <h1 style="color: #374151;">Mustafa Gönen</h1>
            <h1 class="m-l-4 m-r-4">-</h1>
            <h1>Frontend Developer</h1>
        </div>

        <p>I am on track to complete my undergraduate degree at Computer Engineering department of METU by the end of
            this year . Passionate about software development, with hands-on experience in modern web technologies,
            including <span class="f-w-700">Angular, Vue, and Node.js.</span> Strong foundation in algorithms, data
            structures, and object-oriented
            programming. Proven ability to work both independently and as part of a team in fast-paced environments.
            Actively seeking opportunities to apply and grow technical skills in real-world projects with <span
                class="f-w-700">Hepsiburada, ZES (Zorlu), TUBİTAK, Haci Bayram Veli University, Greyfoood</span> etc.
        </p>

        <div class=" buttons">
            <button class="btn-primary">Get Started</button>
            <button class="btn-secondary">Learn More</button>
        </div>

        <div class="signature">
            Designed by Mustafa Gönen
        </div>
    </div>

    <div class="visual">
        <img src="assets/images/avatar.jpg" alt="Avatar of Mustafa Gönen">
    </div>
</section>