<section class="landing">
    <div class="background-shapes"></div>

    <div class="intro">
        <div class="m-b-0 m-t-0 d-flex mobile-wrapper">
            <h1 style="color: #374151;">Mustafa Gönen</h1>
            <h1 class="m-l-4 m-r-4 mobile-line">-</h1>
            <h1 class="mobile-margin">Frontend Developer</h1>
        </div>

        <!-- <p>I am on track to complete my undergraduate degree at Computer Engineering department of METU by the end of
            this year . Passionate about software development, with hands-on experience in modern web technologies,
            including <span class="f-w-700">Angular, Vue, and Node.js.</span> Strong foundation in algorithms, data
            structures, and object-oriented
            programming. Proven ability to work both independently and as part of a team in fast-paced environments.
            Actively seeking opportunities to apply and grow technical skills in real-world projects with <span
                class="f-w-700">Hepsiburada, ZES (Zorlu), TUBİTAK, Haci Bayram Veli University, Greyfoood</span> etc.
        </p> -->

        <p>
            With over 6 years of frontend development experience, I excel in Angular, Vue, TypeScript and optimizing web
            applications. Interested in contributing to innovative software solutions with a focus on high performance
            as a dedicated Software Developer. I am
            on track to complete my undergraduate degree in the Computer Engineering department of METU by the end of
            this year.
        </p>

        <div class=" buttons">
            <button class="btn-primary">
                <!-- <a href="assets/documents/Mustafa Gönen CV.pdf" target="_blank" class="text-white">
                    View Resume
                </a> -->
                <a href="assets/documents/Mustafa Gönen CV 2025.pdf" target="_blank" class="text-white">
                    View Resume
                </a>
            </button>
            <!-- <button class="btn-secondary">Learn More</button> -->
        </div>

        <div class="signature">
            Designed by Mustafa Gönen
        </div>
    </div>

    <div class="visual image-wrapper coin-wrapper">
        <img src="assets/images/avatar.jpg" class="coin-image" alt="Avatar of Mustafa Gönen">
    </div>

</section>

<style>
    .coin-wrapper {
        perspective: 1000px;
    }

    .coin-image {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 2.1s cubic-bezier(0.4, 0.2, 0.2, 1);
    }

    .coin-wrapper:hover .coin-image {
        transform: rotateY(360deg);
    }
</style>